name: Test & Build Master

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    name: Lint, Test, E2E, Build
    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Lint (Nx)
        run: npx nx run-many -t lint --all

      - name: Unit tests (Nx Jest, with coverage)
        run: npx nx run-many -t test --all --configuration=ci

      # - name: E2E tests (frontend - Playwright) - temporary disabled due to GH envs problems
      #   run: |
      #     npx playwright install --with-deps chromium
      #     npx nx run frontend-e2e:e2e

      - name: Build apps (production)
        run: |
          npx nx run backend:build --configuration=production
          npx nx run frontend:build --configuration=production

      - name: Upload coverage artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: |
            coverage
            **/coverage
          if-no-files-found: ignore

